<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljw.mapper.PersionMapper">

    <select id="queryPersionList" resultType="com.ljw.entity.PersionDto">
        select id, create_datetime as createTime, email, phone, sex, username, "zone" from persons
    </select>

</mapper>